parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:sortBy\\(\\) expects array\\<array\\{string, string\\}\\|\\(callable\\(mixed, \\(int\\|string\\)\\)\\: mixed\\)\\|string\\>\\|\\(callable\\(mixed, \\(int\\|string\\)\\)\\: mixed\\)\\|string, Closure\\(PreemStudio\\\\ChangelogParser\\\\Data\\\\Section, string\\)\\: 0\\|1\\|2\\|3\\|4\\|5\\|false given\\.$#"
			count: 1
			path: src/Actions/SortReleaseSections.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Actions\\\\SortReleasesByDate\\:\\:execute\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Actions/SortReleasesByDate.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Contracts\\\\Tokenizer\\:\\:tokenize\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Contracts/Tokenizer.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Data\\\\Changelog\\:\\:__construct\\(\\) has parameter \\$releases with generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Data/Changelog.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Data\\\\Changelog\\:\\:getLatestRelease\\(\\) should return PreemStudio\\\\ChangelogParser\\\\Data\\\\Release but returns mixed\\.$#"
			count: 1
			path: src/Data/Changelog.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Data\\\\Changelog\\:\\:getReleases\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Data/Changelog.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Data\\\\Changelog\\:\\:getUnreleased\\(\\) should return PreemStudio\\\\ChangelogParser\\\\Data\\\\Release\\|null but returns mixed\\.$#"
			count: 1
			path: src/Data/Changelog.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:filter\\(\\) expects \\(callable\\(mixed, \\(int\\|string\\)\\)\\: bool\\)\\|null, Closure\\(PreemStudio\\\\ChangelogParser\\\\Data\\\\Release\\)\\: bool given\\.$#"
			count: 1
			path: src/Data/Changelog.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Data\\\\Release\\:\\:__construct\\(\\) has parameter \\$sections with generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Data/Release.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Data\\\\Release\\:\\:getSections\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Data/Release.php

		-
			message: "#^Property PreemStudio\\\\ChangelogParser\\\\Data\\\\Release\\:\\:\\$sections with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Data/Release.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:map\\(\\) expects callable\\(mixed, \\(int\\|string\\)\\)\\: PreemStudio\\\\ChangelogParser\\\\Data\\\\Release, Closure\\(PreemStudio\\\\ChangelogParser\\\\Data\\\\Release\\)\\: PreemStudio\\\\ChangelogParser\\\\Data\\\\Release given\\.$#"
			count: 1
			path: src/Formatter/Changelog/CommonChangelogFormatter.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:map\\(\\) expects callable\\(mixed, \\(int\\|string\\)\\)\\: PreemStudio\\\\ChangelogParser\\\\Data\\\\Release, Closure\\(PreemStudio\\\\ChangelogParser\\\\Data\\\\Release\\)\\: PreemStudio\\\\ChangelogParser\\\\Data\\\\Release given\\.$#"
			count: 1
			path: src/Formatter/Changelog/KeepAChangelogFormatter.php

		-
			message: "#^Call to an undefined method PreemStudio\\\\ChangelogParser\\\\Contracts\\\\Node\\:\\:getDate\\(\\)\\.$#"
			count: 1
			path: src/Parser/KeepAChangelog/NodeParser.php

		-
			message: "#^Call to an undefined method PreemStudio\\\\ChangelogParser\\\\Contracts\\\\Node\\:\\:getVersion\\(\\)\\.$#"
			count: 1
			path: src/Parser/KeepAChangelog/NodeParser.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Parser/KeepAChangelog/NodeParser.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: src/Parser/KeepAChangelog/NodeParser.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Parser/KeepAChangelog/NodeParser.php

		-
			message: "#^Variable \\$currentRelease in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: src/Parser/KeepAChangelog/NodeParser.php

		-
			message: "#^Call to an undefined method PreemStudio\\\\ChangelogParser\\\\Contracts\\\\Node\\:\\:getDestination\\(\\)\\.$#"
			count: 1
			path: src/Parser/KeepAChangelog/ReleaseNormalizer.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Parser\\\\KeepAChangelog\\\\ReleaseNormalizer\\:\\:normalize\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Parser/KeepAChangelog/ReleaseNormalizer.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:map\\(\\) expects callable\\(mixed, \\(int\\|string\\)\\)\\: PreemStudio\\\\ChangelogParser\\\\Data\\\\Release, Closure\\(PreemStudio\\\\ChangelogParser\\\\Data\\\\Release\\)\\: PreemStudio\\\\ChangelogParser\\\\Data\\\\Release given\\.$#"
			count: 1
			path: src/Parser/KeepAChangelog/ReleaseNormalizer.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Tokenizer\\\\MarkdownTokenizer\\:\\:tokenize\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Tokenizer/MarkdownTokenizer.php

		-
			message: "#^Undefined variable\\: \\$matches$#"
			count: 1
			path: src/Tokenizer/MarkdownTokenizer.php

		-
			message: "#^Property PreemStudio\\\\ChangelogParser\\\\Tokenizer\\\\Node\\\\ReleaseHeading\\:\\:\\$date \\(Carbon\\\\Carbon\\|null\\) does not accept Carbon\\\\Carbon\\|false\\.$#"
			count: 1
			path: src/Tokenizer/Node/ReleaseHeading.php

		-
			message: "#^Readonly property PreemStudio\\\\ChangelogParser\\\\Tokenizer\\\\Node\\\\ReleaseHeading\\:\\:\\$date is already assigned\\.$#"
			count: 1
			path: src/Tokenizer/Node/ReleaseHeading.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Tokenizer\\\\Query\\:\\:find\\(\\) has parameter \\$nodes with generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Tokenizer/Query.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Tokenizer\\\\Query\\:\\:find\\(\\) should return PreemStudio\\\\ChangelogParser\\\\Contracts\\\\Node\\|null but returns mixed\\.$#"
			count: 1
			path: src/Tokenizer/Query.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Tokenizer\\\\Query\\:\\:findAll\\(\\) has parameter \\$nodes with generic class Illuminate\\\\Support\\\\Collection but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Tokenizer/Query.php

		-
			message: "#^Method PreemStudio\\\\ChangelogParser\\\\Tokenizer\\\\Query\\:\\:findAll\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Tokenizer/Query.php
